body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image:url(symphony.jpg); 
	color: #777777;

	}


header {
	background-color:#ffffff;
	padding:0px 20px 0px 20px;
	position:fixed;
	top: 0px;
	width: 100%;
	height: 10%;
	font-family: 'Georgia', Times, Times New Roman, serif;
		
	}

h1 { 
	background-color: #4aaaa5;
	color: white;
	padding:30px 20px 0px 20px;
	margin: 20px 20px 0px 150px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	text-align: center;
	float: left;
	}
	

#nav {
	background-color:#ffffff;
	color: lightgrey;
	padding:20px 20px 1px 20px;
	margin: 20px 150px 30px 20px;
	float: right;
	}


 ul {
    margin:0px;
    list-style-type:none;
    padding:5px 0px 5px 0px;
 }


li {
    display:inline;
    padding: 5px 0px 5px 5px; 
    
}

h2 {
		color:#4aaaa5;
		background-color:white; 
		text-align: left;
		font-weight:bold;
		border-bottom: 1px solid lightgrey;
	}

#main {
		background-color:#ffffff; 
		border-color: #dddddd;
		width: 650px;
		padding: 50px;
		margin: 100px 10px 100px 70px;
		float:left;
	}
#image1 {
		margin: 10px 30px 10px 30px;
		float: left;
		border-radius: 50%;
}	

#social {
		background-color:white; 
		width: 270px;
		margin: 100px 70px 100px 10px;
		padding: 50px;
		float:right;

	}

#git {padding: 10px 5px 0px 5px;
	}

#linkedin {padding: 10px 5px 0px 5px;
	}

#stack {padding: 10px 5px 0px 5px;
	}

#image2 {
		border-radius: 8px;
		margin: 5px;
		float:left;
		}

#image3 {
		border-radius: 8px;
		margin: 5px;
		float:right;
		}

#image4 {
		border-radius: 8px;
		margin: 5px;
		float:left;
		}

#image5 {
		border-radius: 8px;
		margin: 5px;
		float:right;
		}

footer {
		clear:both;
		background-color: #666666;
		color:white;
		position: fixed;
		bottom: 0px;
		padding-top:40px;
		padding-bottom: 40px;
		width: 100%;
		font-family: 'Georgia', Times, Times New Roman, serif;
		text-align: center;
		border-top: 5px solid #4aaaa5;
	}
















