body 
	{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color:lightcyan; 

}


.top 
	{
	background-color:white;
	color:grey;
	padding:10px
	margin-right:10px;
	font-family: 'Georgia', Times, Times New Roman, serif;
		


	}

h1 { 
	background-color: #4aaaa5;
	color: white;
	padding:30px
	margin-right:10px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;}
}

#about 
	{
	float:right
	}

.main 
	{
		background-color:white; 
		margin: 100px;
		padding: 50px;
		float:left;

	}

.social
	{float:right;}
















